<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div th:insert="fragments/general :: navBar"></div>


<div class="container pt-3">

    <div class="card-deck">


        <div th:if="${not data.empty}">

            <div class="row">

                <div th:each="recipe: ${data}">

                    <div class="card h-100">

                        <div class="row">

                            <div class="card-body">

                                <img th:src="@{'data:image/png;base64,'+${recipe.image}}" class="card-img-top "
                                     style="max-width: 200px" alt="recipeImage">
                                <h5 class="card-title" th:text="${recipe.name}"></h5>
                                <p class="card-text" th:text="${recipe.description}"></p>
                                <a th:href="@{'recipes/edit/' + ${recipe.id}}">Edit</a>
                                <a th:href="@{'recipes/view/' + ${recipe.id}}">View</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<ul class="nav nav-pills">
    <li class="nav-item" th:each="i: ${#numbers.sequence(0, data.totalPages-1)}">
        <a th:href="@{recipes(page=${i})}" th:text="${i}" class="nav-link"
           th:classappend="${currentPage}==${i}?'active':''"></a>
    </li>
</ul>
</div>

</div>


<h2 th:if="${data.empty}">No recipe in the database, click <a th:href="@{recipes}">here</a> to try again</h2>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</div>
</body>
</html>