<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add recipe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<div th:insert="fragments/general :: navBar"></div>

<div class="container">
    <div th:object="${recipe}" method="POST" enctype="multipart/form-data">


        <div class="container pt-3">

            <p class="font-weight-normal" th:text="*{name}" align="center"></p>
            <div class="row">
                <div class="col">
                    <p class="font-weight-normal" th:text="*{description}" align="right"></p>
                </div>
                <div class="col">


                </div>
                <div class="w-100"></div>
                <div class="col">
                    <img th:src="@{'data:image/png;base64,'+${recipe.image}}"
                         style="max-width: 400px" alt="recipeImage" align="right"></div>
                <div class="col">
                    <p> Ingredients </p>
                    <p class="font-weight-normal" th:text="*{ingredients}" align="left"></p>
                    <p> Directions </p>

                    <p class="font-weight-normal" th:text="*{directions}"></p>

                    <div> Creation date <p class="text-muted" th:text="${recipe.created}"></p></div>
                    <div> Last modify date <p class="text-muted" th:text="${recipe.lastModify}"></p></div>



                    <form th:action="@{/recipes}" method="POST"/>
                    <input type="hidden" name="idRecipe" th:value="${recipe.id}"/>
                    <input class="btn btn-danger" type="submit" value="Sterge">


                    <a th:href="@{'/recipes/edit/' + ${recipe.id}}">Edit</a>

                    </form>
                </div>
            </div>


            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous"></script>
        </div>

</body>
</html>